<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>contact</title>
</head>
<body>

    <th:block th:insert="Header.html"></th:block>

     <div  class="container-fluid">
     
        <div class="card">
           
            <div class="card-header text-center text-white bg-primary">
               <h4>Contact Details</h4>
            </div>
            
            <div class="card-body">
            
            <form action="/contact" method="post">
            
                 <div class="row p-2">
                   <div class="col-2">To Email</div>
                   <div class="col-6">
                       <input type="email" required="required" name="toEmail" class="form-control" placeholder="Enter Email">
                       
                   </div>
                 </div>
                 
                 
                 <div class="row p-2">
                   <div class="col-2">Subject</div>
                   <div class="col-6">
                       <input type="text" name="subject" class="form-control" placeholder="Enter subject">
                   </div>
                 </div>
                 
                 <div class="row p-2">
                   <div class="col-2">Message</div>
                   <div class="col-6">
                       <textarea name="message" rows="10" class="form-control" > </textarea>
                   </div>
                 </div>
                 
                 <div class="row p-2">
                   <div class="col-2"></div>
                   <div class="col-6">
                       <input type="submit" value="Send" class="btn btn-success btn-lg" >
                   </div>
                 </div>
                 
             </form>  
                 
            </div>
            
            <div class="card-footer bg-warning text-center ">copyright@2023</div>
        
        </div>
     
     </div>

</body>
</html>