<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>department</title>

</head>
<body>
<th:block th:insert="Header.html"></th:block>

     <div  class="container-fluid">
     
        <div class="card">
           
            <div class="card-header text-center text-white bg-primary">
               <h4>Department Form</h4>
            </div>
            
            <div class="card-body">
            
            <form action="/department/add" method="post">
            
                 <div class="row p-2">
                   <div class="col-2">Department Name</div>
                   <div class="col-6">
                       <input type="text" name="dpt_name" class="form-control" placeholder="Enter name">
                   </div>
                 </div>
                 
                 <div class="row p-2">
                   <div class="col-2">Department Head(HOD)</div>
                   <div class="col-6">
                       <input type="text" name="dpt_head" class="form-control" placeholder="Enter Hod">
                   </div>
                 </div>
                 
                 <div class="row p-2">
                   <div class="col-2">Department Phone</div>
                   <div class="col-6">
                       <input type="text" name="dpt_phone" class="form-control" placeholder="Enter Phone">
                   </div>
                 </div>
                 
                 <div class="row p-2">
                   <div class="col-2"></div>
                   <div class="col-6">
                       <input type="submit" value="Add" class="btn btn-success btn-lg" >
                   </div>
                 </div>
                 
             </form>  
                 
            </div>
            
            <div class="card-footer bg-warning text-center ">copyright@2023</div>
        
        </div>
     
     </div>
    
</body>
</html>